body{
    overflow-x: hidden;
} 
 .carousel img{
    height: 385px;
} 
.slick-prev:before, .slick-next:before{
    font-size: 30px !important;
}
.slick-next{
    right: 25px !important;
}
.slick-prev{
    left: 8px !important;
    z-index: 1 !important;
}
.slick-prev:before, .slick-next:before {
    color: #000 !important;
}

/* brandad */
.brand{
    width: 85%;
    margin: auto;
}

@media (max-width: 724px) {
    .carousel img{
        height: 150px;
    }  
}