.service-section{
    text-align: center;
    justify-content: center;
}
.rowee{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.service-item{
    margin-top: 20px;
    display: flex !important;
    flex-wrap: wrap;
}
.service-section{
    width: 85%;
    margin: auto;
}
.service{
    padding: 0px 30px;
    width: 100%;
    background-color: rgb(245, 137, 191);
    box-shadow: 1px 2px 5px 2px rgb(189, 182, 182);
}
.service-item p{
    margin-top: 13px;
font-size: 15px;
font-weight: bold;
}
.service-icon{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: rgb(219, 29, 124);
    font-size: 25px;
    padding-top: 3px;
    margin: 5px;
    color: #fff;
}